.sidebar li {
  display: flex;
  margin: 1rem;
  margin: 0;
  padding: 20px
}

.sidebar {
  background-color: #333;
  color: white;
  width: 7rem;
  height:  100rem;
  margin: 2px; 
  position:absolute;
  left: 0; 
  top: 0;
  margin-top: 3.75rem;
}

.para {
  position: relative;
  right: 3rem;
  top: 2rem;
}

.logo {
  border-radius: 10px;
}